In [2]:
import pandas as pd
import numpy as np

data= pd.read_csv(r"C:\Users\ELCOT\Downloads\archive (1).zip")
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [2]:
data.shape

(1025, 14)

In [3]:
data.isnull()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1021,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1022,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1023,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1024,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [4]:
x=data.iloc[:,0:13]
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3

In [5]:
y= data.target.values
y

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.20,random_state=1)

print('training samples:', len(x_train))
print('testing samples:', len(x_test))

training samples: 820
testing samples: 205

In [7]:
from sklearn.naive_bayes import GaussianNB

In [8]:
gmodel= GaussianNB()

In [9]:
gmodel.fit(x_train,y_train)

GaussianNB()

In [10]:
train_pred= gmodel.predict(x_train)
test_pred= gmodel.predict(x_test)

In [11]:
train_acc= np.mean(train_pred == y_train)
test_acc= np.mean(test_pred == y_test)

In [12]:
print('training accuracy:', train_acc*100)
print('testing accuracy:', test_acc*100)

training accuracy: 84.26829268292683
testing accuracy: 78.04878048780488

In [13]:
#MULTINOMIAL
from sklearn.naive_bayes import MultinomialNB

In [14]:
Mmodel= MultinomialNB()

In [15]:
Mmodel.fit(x_train,y_train)

MultinomialNB()

In [16]:
train_pred= Mmodel.predict(x_train)
test_pred= Mmodel.predict(x_test)

In [17]:
train_acc= np.mean(train_pred==y_train)
test_acc= np.mean(test_pred== y_test)

In [18]:
print('training accuracy:', train_acc*100)
print('testing accuracy:', test_acc*100)

training accuracy: 75.97560975609755
testing accuracy: 72.1951219512195